<center>
  <div class="container center jumbotron">
    <h1>Welcome to the Budget Tracker</h1>

    <h5>Track your expenditures.</h5>
    <h5>Plan your budgets.</h5>

    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>
</center>
