<div class="table-responsive col-md-8">
  <table class="table table-sm table-hover">
    <thead class="thead-light">
      <tr>
        <th>Amount</th>
        <th>Title</th>
        <th>Category</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render 'new' %>
      <%= render @expenditures %>
    </tbody>
  </table>
</div>
