<div class="container-fluid">
  <div class="row">
    <div class="col-md-2" id="expenditures_search">
      <%= render 'search' %>
    </div>
    <div class="table-responsive col-md-8">
      <div id="expenditures">
        <%= render 'table' %>
      </div>
    </div>
  </div>
</div>
