$theme-colors: (
  "primary": #25a873,
  "secondary": #a8255a,
);
@import "bootstrap";
@import "font-awesome";

/* debug */

.debug_dump {
  clear: both;
  width: 100%;
  margin-top: 45px;
  padding: 10px;
  background: LightGrey;
  border: 2px solid Grey;
}

/* universal */

/* typography */

/* table */

table {
  text-align: center;
  table-layout: fixed;
  th {
    font-size: 1.2em;
  }
  td {
    vertical-align: middle;
    justify-content: center;
    word-wrap: break-word;
  }
}

@keyframes blink-green {
    0%   {background-color: white;}
    50%   {background-color: #afedc3;}
    100% {background-color: white;}
}

.blink-green {
    -webkit-animation: blink-green 1s ease-out;
    animation: blink-green 1s ease 0.2s;
}

/* header */

.navbar {
  margin-bottom: 1em;
}

.navbar-brand {
  font: 1.5em "Fira Sans", sans-serif;
}

#navbar-user-name {
  color: white;
}

/* buttons */
.btn-edit {
  background-color: #2586a8;
  border-color: #2586a8;
  color: #fff;
}

.btn-edit:hover {
  background-color: #207593;
  border-color: #1c657e;
  color: #fff;
}

/* forms */

/* expenditure form modal */
#expenditure-modal, .modal-dialog {
  max-width: 30% !important;
}

/* devise error messages */

#error_explanation {
  ul {
    margin: 0;
    padding-inline-start: 0;
    list-style-type: none;
  }
}

/* row margins */

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

/* removes arrows from number field */
input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
