$theme-colors: (
  "primary": #25a873,
  "secondary": #a8255a,
);
@import "bootstrap";

/* debug */

.debug_dump {
  clear: both;
  width: 100%;
  margin-top: 45px;
  padding: 10px;
  background: LightGrey;
  border: 2px solid Grey;
}

/* universal */

/* typography */

/* table */

table {
  text-align: center;
  th {
    font-size: 1.2em;
  }
  td {
    vertical-align: middle;
    justify-content: center;
  }
}

/* header */

.navbar {
  margin-bottom: 1em;
}

.navbar-brand {
  font: 1.5em "Fira Sans", sans-serif;
}

/* forms */

/* removes arrows from number field */
input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
